@charset "utf-8";
/* CSS Document */
p {
	width: 400px;
	background-color: peachpuff;
	padding: 15px;
}

h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:black
}

body {
	background-image:url("../projektni fotke/zelena.jfif");
}

a {
	color: indianred;
	background-color: lightgoldenrodyellow;
	padding: 2px;
	line-height: 35px;
	border: 1.5px solid
}
h3 {
	background-color: black;
	color: aliceblue;
	width: 200px;
	padding: 2px;
	line-height: 20px;
	border: 1px solid rgba(0,0,0,1.00)
}